@import url("https://fonts.googleapis.com/css2?family=Montaga&display=swap");

.montaga-regular {
  font-family: "Montaga", serif;
  font-weight: 400;
  font-style: normal;
}

select {
  background-color: #f0f0f0; /* Jasnoszare tło dla całego select */
  border: 1px solid #ccc; /* Szara ramka */
  border-radius: 5px; /* Zaokrąglenie rogów */
  padding: 5px;
  font-size: 14px;
  color: #333; /* Ciemniejszy tekst */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtelny cień */
}

option {
  background-color: #f8f8f8; /* Jaśniejsze tło dla opcji */
  color: #333; /* Ciemniejszy tekst */
  padding: 10px; /* Dodatkowe odstępy wewnętrzne */
  border-bottom: 1px solid #ddd; /* Cienka linia między opcjami */
}

option:hover {
  background-color: #e0e0e0; /* Ciemniejsze szare tło przy najechaniu */
  color: #000; /* Czarny tekst po najechaniu */
}

option:checked {
  background-color: #d0d0d0; /* Jeszcze ciemniejsze szare tło dla zaznaczonej opcji */
  color: #000; /* Czarny tekst po zaznaczeniu */
}
