@import url("https://fonts.googleapis.com/css2?family=Montaga&display=swap");

.montaga-regular {
  font-family: "Montaga", serif;
  font-weight: 400;
  font-style: normal;
}
.home-view__container {
  min-height: 75vh;
}
